body, .row-fluid, html {
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

/* Custom CSS scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background: none;
}
::-webkit-scrollbar-track:vertical {
    background: none;
}
::-webkit-scrollbar-thumb {
    width: 8px; height: 20px;
    background: #777;
    border-radius: 5px;
}
::-webkit-scrollbar-button: {
    display: none;
}

.row-fluid {
    position: fixed;
}
.row-fluid.board-loading .span3{
    float: none;
}

.row-fluid > [class*="span"] {
    margin-left: 15px;
}

/* Devcup
-------------------------------------------------- */
